/* Estilos para el título principal */
.js-title {
    font-size: 48px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para el subtítulo */
.js-subtitle {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #e7e1e1;
    border: 4px solid #ccc;
    padding: 10px;
    border-radius: 8px;

}

/* Estilos para las categorías de JavaScript */
.js-variables, .js-condicionales, .js-ciclos, .js-funciones,
.js-objetos, .js-arrays, .js-metodos {
    margin-bottom: 40px;
}

/* Estilos para los títulos de categoría */
.js-variables h3, .js-condicionales h3, .js-ciclos h3,
.js-funciones h3, .js-objetos h3, .js-arrays h3, .js-metodos h3 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 15px;
    text-decoration: underline;
}

/* Estilos para los comandos de JavaScript */
.js-variables p, .js-condicionales p, .js-ciclos p,
.js-funciones p, .js-objetos p, .js-arrays p, .js-metodos p {
    font-size: 18px;
    color: #777;
    line-height: 1.6;
}

/* Estilos para los enlaces dentro de los comandos */
.js-variables a, .js-condicionales a, .js-ciclos a,
.js-funciones a, .js-objetos a, .js-arrays a, .js-metodos a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.js-variables a:hover, .js-condicionales a:hover, .js-ciclos a:hover,
.js-funciones a:hover, .js-objetos a:hover, .js-arrays a:hover, .js-metodos a:hover {
    color: #0056b3;
}

/* Estilos para el botón */
.js-button {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.js-button:hover {
    background-color: #0056b3;
}